@import url("normalize.css");

// Variables
@hp-nav-bgcolor: rgba(255, 255, 255, 0.8);
@hp-nav-bgcolor-hover: rgba(50, 50, 50, 0.9);
@bio-color: #ff8080;
@work-color: #99cc00;
@hobbies-color: #0099cc;



/* Fonts */
@font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold'), url('fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans'), url('fonts/OpenSans-Regular.woff') format('woff');
} 


@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff');
}


/* Document CSS */
@-ms-viewport { 
  width: device-width; 
}

*, *:before, *:after {
  	-webkit-box-sizing: inherit;
  	-moz-box-sizing: inherit;
  	box-sizing: inherit;
}


body {
	width: 100%;
	font-size: 1.1rem;
	font-family: 'Open-Sans';
	background-color: #000;
	line-height: 150%;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 1.2rem;
	margin-top: 3rem;
	margin-bottom: 1.1rem;
	font-style: italic;
	font-weight: bold;
}

h2 {
	font-size: 1.1rem;
	margin-top: 1.5rem;
	margin-bottom: .9rem;
	font-style: normal;
	font-weight: 500;
}

em {
	font-weight: 600;
}

nav {
	text-align: center;
	font-family: 'Exo 2';
	& a:hover {
		cursor:pointer;
	}
}

.contact {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4rem;
	text-align: center;
	letter-spacing: .08rem;
	font-size: 1rem;
	font-family: 'Exo 2';
	text-shadow: 1px 1px 3px #000000, 1px 1px 2px #000000;
	transition: font-size 900ms;
	& a {
		color: rgba(255, 255, 255, 0.95);
		&:hover {
			color: #fff;
			font-size: 1.1rem;
		}
	}
	@media(min-height: 700px) {
		width: 100%;
		position: absolute;
		bottom: 2rem;
	}
}

footer {
	text-align: right;
	color: #ddd;
	font-size: .7rem;
	font-family: 'Exo 2';
	font-style: italic;
	padding-right: 2rem;
}

.notice {
	font-size: 1.25rem;
	font-weight: 800;
	margin-bottom: 2.8rem;
}

.intro {
	font-size: 1.15rem;
	text-align: justify;

}

.homepage {
	background: url('images/home_2560.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	    @media(max-width: 1500px) {
    	background: url('images/home_1500.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
    @media(max-width: 1500px),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    	background: url('images/home_2560.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
    @media(max-width: 1000px) {
    	background: url('images/home_1000.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
    @media(max-width: 1000px),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    	background: url('images/home_1500.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
	& .name {
		width: 25%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2.5rem;
		padding-bottom: .7rem;
		font-size: 3rem;
		font-weight: bold;
		font-family: 'Myriad Pro Semibold';
		text-align: center;
		color: rgba(255, 255, 255, 0.9);
		border-bottom: 1px solid rgba(255, 255, 255, 0.8);
		@media(max-width:1260px) {
			width: 40%;
		}
		@media(max-width:800px) {
			width: 60%;
		}
		@media(max-width:540px) {
			width: 80%;
		}
		&__description {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			margin-top: .5rem;
			font-family: 'Exo 2';
			font-size: 1.1rem;
			font-style: italic;
			font-weight: 700;
			color: rgba(255, 255, 255, 0.9);
			text-shadow: 1px 1px 3px #000000;
		}
	}
	& nav {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.5rem;
		font-weight: 600;
		margin-top: 10%;
		@media(max-width:840px) {
			width: 100%;
			margin-top: 15%;
		}
		@media(max-width:540px) {
			margin-top: 20%;
		}
	}
	& .nav {
		&--homepage {
			width: 7.5rem;
			height: 7.5rem;
			background-color: @hp-nav-bgcolor;
			transition: background 1000ms, color 800ms, box-shadow 1000ms;
			color: #000;
			border-radius: 50%;
			display: inline-block;
			-webkit-box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    7px 7px 13px 0px rgba(50, 50, 50, 0.5);
			box-shadow:         7px 7px 13px 0px rgba(50, 50, 50, 0.5);
			& div {
				margin-top: 38%;
			}
			&:hover {
				background-color: @hp-nav-bgcolor-hover;
				color: #fff;
				-webkit-box-shadow: none;
				-moz-box-shadow:    none;
				box-shadow:         none;
			}
		}
		&__bio {
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 3.5rem;
		}
		&__work {
			margin-right: 10rem;
		}	

	}
}


.subpage {
	width: 100%;
	&__wrapper {
		display: inline-block;
		float: left;
		@media(max-width: 640px) {
				display: block;
				float: none;
		}
	}
	& .name {
		text-align: center;
		letter-spacing: .5rem;
		display: inline-block;
		@media(max-width: 640px) {
				display: block;
		}
		&__wrapper {
			color: rgba(255, 255, 255, 0.8);
			font-weight: 100;
			font-family: 'Exo 2';
			font-size: 1.2rem;
			width: 7rem;
			display: inline-block;
			padding: 1.5rem 0 0 1.7rem;
			& a {
				color: rgba(255, 255, 255, 0.8);
			}
			@media(max-width: 640px) {
				display: block;
				width: 100%;
			}
		}
	}
	& nav {
		width: 7rem;
		padding: 3rem 1rem;
		font-size: 1.3rem;
		font-weight: 600;
		@media(max-width: 640px) {
				display: block;
				width: 100%;
				padding-bottom: 1rem;
		}
	}
	& .nav { 
		&--subpage {
			width: 5.5rem;
			height: 5.5rem;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 3rem;
			@media(max-width: 640px) {
				margin-bottom: 2rem;
			}
			transition: background 300ms, color 300ms, border 300ms;
			color: rgba(255, 255, 255, 0.8);
			border-radius: 50%;
			-moz-box-sizing:border-box;
	   		-webkit-box-sizing:border-box;
	    	box-sizing:border-box;
			&:hover {
				background-color: rgba(0, 0, 0, 0.8);
			}
			& div {
				display: inline-block;
				margin-top: 35%;
			}
		}
		&--active {
			transition: none;
			background-color: rgba(0, 0, 0, 0.8);
		}
	}
	& .content__wrapper {
		width: 55rem;
		-webkit-box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow:    5px 0px 20px 0px rgba(0, 0, 0, 0.5);
		box-shadow:         5px 0px 20px 0px rgba(0, 0, 0, 0.5);
		background-color: rgba(0, 0, 0, 0.9);
		@media(max-width: 940px) {
			width: 100%;
		}
		@media(max-width: 640px) {
			width: 100%;
			padding-left: 2rem;
			padding-right: 2rem;
		}
		& .content {
			width: 40rem;
			color: #fff;
			padding: .2rem 3rem 2rem 3rem;
			margin-left: 0;
			display: inline-block;
			font-family: 'Exo 2';
			font-weight: 500;
			@media(max-width: 940px) {
					padding-right: 1.5rem;
			}
			@media(max-width: 940px) and (min-width: 890px) {
					width: 75%;
					padding-right: 1.5rem;
			}
			@media(max-width: 890px) and (min-width: 740px) {
					width: 70%;
			}
			@media(max-width: 740px) and (min-width: 640px) {
					width: 65%;
			}
			@media(max-width: 640px) {
				display: block;
				width: 100vw;
				padding-right: 0;
				padding-left: 0;
				border-top: 1px solid rgba(255, 255, 255, 0.3);
			}
			
		}
	}
}

.bio {
	width: 100%;;
	background: url('images/bio_3000.jpg')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	    @media(max-width: 1500px) {
    	background: url('images/bio_1500.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
    @media(max-width: 1500px),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    	background: url('images/bio_3000.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
    @media(max-width: 1000px) {
    	background: url('images/bio_1000.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
    @media(max-width: 1000px),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    	background: url('images/bio_1500.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
	 & .nav {
  	&--subpage {
			&:hover {
				color: @bio-color;
				border: 2px solid @bio-color;
		  }
		}
		&--active {
			color: @bio-color;
			border: 2px solid @bio-color;
			&:hover {
				color: @bio-color;
			}
		}
	}
	& .content {
		& a {
			color: @bio-color;
			font-weight: bolder;
			&:hover {
				color: @bio-color;
			}
			&:visited {
				color: @bio-color;
			}
		}
	}
	&__item {
		& p {
			margin-top: .5rem;
			margin-bottom: .5rem;
			padding-left: 1.1rem;
			&:first-of-type {
				font-weight: bold;
				margin-top: 2rem;
				padding-left: 1rem;
				border-left: 3px solid @bio-color;
				& span {
					text-align: right;
					float: right;
					font-weight: 300;
					font-size: .9rem;
					@media(max-width: 800px) {
						display: block;
						float: none;
						text-align: left;
					}
				}
			}
		}
	}
}


.hobbies {
	background: url('images/hobbies_2683.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    @media(max-width: 1500px) {
    	background: url('images/hobbies_1500.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
    @media(max-width: 1500px),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    	background: url('images/hobbies_2683.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
    @media(max-width: 1000px) {
    	background: url('images/hobbies_1000.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
    @media(max-width: 1000px),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    	background: url('images/hobbies_1500.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
  & .nav {
  	&--subpage {
			&:hover {
				color: @hobbies-color;
				border: 2px solid @hobbies-color;
		  }
		}
		&--active {
			color: @hobbies-color;
			border: 2px solid @hobbies-color;
			&:hover {
				color: @hobbies-color;
			}
		}
	}
	& .content {
		& a {
			color: @hobbies-color;
			font-weight: bold;
			&:hover {
				color: @hobbies-color;
			}
			&:visited {
				color: @hobbies-color;
			}
		}
	}
}

.work {
	background: url('images/work_3000.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	    @media(max-width: 1500px) {
    	background: url('images/work_1500.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
    @media(max-width: 1500px),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    	background: url('images/work_3000.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
    @media(max-width: 1000px) {
    	background: url('images/work_1000.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
    @media(max-width: 1000px),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    	background: url('images/work_1500.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    }
  & .nav {
  	&--subpage { 
	    &:hover {
				background-color: rgba(0, 0, 0, 0.8);
				color: @work-color;
				border: 2px solid @work-color;
			}
		}
		&--active {
			color: @work-color;
			border: 2px solid @work-color;
		}
	}
	& .content {
		& a {
			color: @work-color;
			font-weight: bold;
			&:hover {
				color: @work-color;
			}
			&:visited {
				color: @work-color;
			}
		}
	}
	&__item {

	}
}


.image {
	&__single {
		overflow: hidden;
		width: 6rem;
		height: 6rem;
		& img {
			object-fit: cover;
		    object-position: 50% 50%;
		    height: 6rem;
		    width: 6rem;
		}
	}
}