@import url("normalize.css");
/* Fonts */
@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'), url('fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), url('fonts/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
/* Document CSS */
@-ms-viewport {
  width: device-width;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  font-family: 'Open-Sans';
  background-color: #000;
  line-height: 150%;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 1.1rem;
  font-style: italic;
  font-weight: bold;
}
h2 {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  margin-bottom: .9rem;
  font-style: normal;
  font-weight: 500;
}
em {
  font-weight: 600;
}
nav {
  text-align: center;
  font-family: 'Exo 2';
}
nav a:hover {
  cursor: pointer;
}
.contact {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  text-align: center;
  letter-spacing: .08rem;
  font-size: 1rem;
  font-family: 'Exo 2';
  text-shadow: 1px 1px 3px #000000, 1px 1px 2px #000000;
  transition: font-size 900ms;
}
.contact a {
  color: rgba(255, 255, 255, 0.95);
}
.contact a:hover {
  color: #fff;
  font-size: 1.1rem;
}
@media (min-height: 700px) {
  .contact {
    width: 100%;
    position: absolute;
    bottom: 2rem;
  }
}
footer {
  text-align: right;
  color: #ddd;
  font-size: .7rem;
  font-family: 'Exo 2';
  font-style: italic;
  padding-right: 2rem;
}
.notice {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 2.8rem;
}
.intro {
  font-size: 1.15rem;
  text-align: justify;
}
.homepage {
  background: url('images/home_2560.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 1500px) {
  .homepage {
    background: url('images/home_1500.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (max-width: 1500px), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .homepage {
    background: url('images/home_2560.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (max-width: 1000px) {
  .homepage {
    background: url('images/home_1000.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (max-width: 1000px), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .homepage {
    background: url('images/home_1500.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.homepage .name {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  padding-bottom: .7rem;
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Myriad Pro Semibold';
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
@media (max-width: 1260px) {
  .homepage .name {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .homepage .name {
    width: 60%;
  }
}
@media (max-width: 540px) {
  .homepage .name {
    width: 80%;
  }
}
.homepage .name__description {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: .5rem;
  font-family: 'Exo 2';
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 3px #000000;
}
.homepage nav {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10%;
}
@media (max-width: 840px) {
  .homepage nav {
    width: 100%;
    margin-top: 15%;
  }
}
@media (max-width: 540px) {
  .homepage nav {
    margin-top: 20%;
  }
}
.homepage .nav--homepage {
  width: 7.5rem;
  height: 7.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background 1000ms, color 800ms, box-shadow 1000ms;
  color: #000;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.5);
}
.homepage .nav--homepage div {
  margin-top: 38%;
}
.homepage .nav--homepage:hover {
  background-color: rgba(50, 50, 50, 0.9);
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.homepage .nav__bio {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3.5rem;
}
.homepage .nav__work {
  margin-right: 10rem;
}
.subpage {
  width: 100%;
}
.subpage__wrapper {
  display: inline-block;
  float: left;
}
@media (max-width: 640px) {
  .subpage__wrapper {
    display: block;
    float: none;
  }
}
.subpage .name {
  text-align: center;
  letter-spacing: .5rem;
  display: inline-block;
}
@media (max-width: 640px) {
  .subpage .name {
    display: block;
  }
}
.subpage .name__wrapper {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  font-family: 'Exo 2';
  font-size: 1.2rem;
  width: 7rem;
  display: inline-block;
  padding: 1.5rem 0 0 1.7rem;
}
.subpage .name__wrapper a {
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 640px) {
  .subpage .name__wrapper {
    display: block;
    width: 100%;
  }
}
.subpage nav {
  width: 7rem;
  padding: 3rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
@media (max-width: 640px) {
  .subpage nav {
    display: block;
    width: 100%;
    padding-bottom: 1rem;
  }
}
.subpage .nav--subpage {
  width: 5.5rem;
  height: 5.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  transition: background 300ms, color 300ms, border 300ms;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 640px) {
  .subpage .nav--subpage {
    margin-bottom: 2rem;
  }
}
.subpage .nav--subpage:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.subpage .nav--subpage div {
  display: inline-block;
  margin-top: 35%;
}
.subpage .nav--active {
  transition: none;
  background-color: rgba(0, 0, 0, 0.8);
}
.subpage .content__wrapper {
  width: 55rem;
  -webkit-box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.9);
}
@media (max-width: 940px) {
  .subpage .content__wrapper {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .subpage .content__wrapper {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.subpage .content__wrapper .content {
  width: 40rem;
  color: #fff;
  padding: .2rem 3rem 2rem 3rem;
  margin-left: 0;
  display: inline-block;
  font-family: 'Exo 2';
  font-weight: 500;
}
@media (max-width: 940px) {
  .subpage .content__wrapper .content {
    padding-right: 1.5rem;
  }
}
@media (max-width: 940px) and (min-width: 890px) {
  .subpage .content__wrapper .content {
    width: 75%;
    padding-right: 1.5rem;
  }
}
@media (max-width: 890px) and (min-width: 740px) {
  .subpage .content__wrapper .content {
    width: 70%;
  }
}
@media (max-width: 740px) and (min-width: 640px) {
  .subpage .content__wrapper .content {
    width: 65%;
  }
}
@media (max-width: 640px) {
  .subpage .content__wrapper .content {
    display: block;
    width: 100vw;
    padding-right: 0;
    padding-left: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.bio {
  width: 100%;
  background: url('images/bio_3000.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 1500px) {
  .bio {
    background: url('images/bio_1500.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
@media (max-width: 1500px), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .bio {
    background: url('images/bio_3000.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
@media (max-width: 1000px) {
  .bio {
    background: url('images/bio_1000.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
@media (max-width: 1000px), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .bio {
    background: url('images/bio_1500.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
.bio .nav--subpage:hover {
  color: #ff8080;
  border: 2px solid #ff8080;
}
.bio .nav--active {
  color: #ff8080;
  border: 2px solid #ff8080;
}
.bio .nav--active:hover {
  color: #ff8080;
}
.bio .content a {
  color: #ff8080;
  font-weight: bolder;
}
.bio .content a:hover {
  color: #ff8080;
}
.bio .content a:visited {
  color: #ff8080;
}
.bio__item p {
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-left: 1.1rem;
}
.bio__item p:first-of-type {
  font-weight: bold;
  margin-top: 2rem;
  padding-left: 1rem;
  border-left: 3px solid #ff8080;
}
.bio__item p:first-of-type span {
  text-align: right;
  float: right;
  font-weight: 300;
  font-size: .9rem;
}
@media (max-width: 800px) {
  .bio__item p:first-of-type span {
    display: block;
    float: none;
    text-align: left;
  }
}
.hobbies {
  background: url('images/hobbies_2683.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 1500px) {
  .hobbies {
    background: url('images/hobbies_1500.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
@media (max-width: 1500px), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .hobbies {
    background: url('images/hobbies_2683.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
@media (max-width: 1000px) {
  .hobbies {
    background: url('images/hobbies_1000.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
@media (max-width: 1000px), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .hobbies {
    background: url('images/hobbies_1500.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
.hobbies .nav--subpage:hover {
  color: #0099cc;
  border: 2px solid #0099cc;
}
.hobbies .nav--active {
  color: #0099cc;
  border: 2px solid #0099cc;
}
.hobbies .nav--active:hover {
  color: #0099cc;
}
.hobbies .content a {
  color: #0099cc;
  font-weight: bold;
}
.hobbies .content a:hover {
  color: #0099cc;
}
.hobbies .content a:visited {
  color: #0099cc;
}
.work {
  background: url('images/work_3000.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 1500px) {
  .work {
    background: url('images/work_1500.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
@media (max-width: 1500px), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .work {
    background: url('images/work_3000.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
@media (max-width: 1000px) {
  .work {
    background: url('images/work_1000.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
@media (max-width: 1000px), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .work {
    background: url('images/work_1500.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
.work .nav--subpage:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #99cc00;
  border: 2px solid #99cc00;
}
.work .nav--active {
  color: #99cc00;
  border: 2px solid #99cc00;
}
.work .content a {
  color: #99cc00;
  font-weight: bold;
}
.work .content a:hover {
  color: #99cc00;
}
.work .content a:visited {
  color: #99cc00;
}
.image__single {
  overflow: hidden;
  width: 6rem;
  height: 6rem;
}
.image__single img {
  object-fit: cover;
  object-position: 50% 50%;
  height: 6rem;
  width: 6rem;
}
